main {max-width: 1140px; margin: 0 auto; }

main > div { display: inline-block; }


body{
max-width: 1140px;
align-content: center;
}

.column3{
height: 300px;
display: none;

}

.column4{
  height: 300px;
  display: none;

}

.column1{
background-color: pink;
height: 300px;

}

.column2{
background-color: red;
height: 300px;

}

@media screen and (min-width: 641px){
  .column{
    display: flex;
  }
}

@media screen and (min-width: 641px){
.column1{
background-color: blue;
display: flex;
width: 25%;
flex-direction: row;

}
}

@media screen and (min-width: 641px){
.column2{
background-color: purple;
display: flex;
width: 25%;
flex-direction: row;
}
}


  @media screen and (min-width: 641px){
.column3{
  background-color: grey;
  display: flex;
  width: 25%;
  flex-direction: row;
}
}

@media screen and (min-width: 641px){
.column4{
  background-color: brown;
  display: flex;
  width: 25%;
  flex-direction: row;
}
}





img, video, object embed{
  max-width: 1140px;
}
